<div class="center hero-unit">
  <h1> Motivation + Gamificate</h1>
  <h2>
    “If you spend too much time thinking about a thing, you’ll never get it done.  Make at least one definite move daily toward your goal.” ~ Bruce Lee
  </h2>

  <img src="CalvinAndHobbes.gif"/>
  <div>
    <%= link_to "Sign up now!", signup_path, 
                              class: "btn btn-large btn-primary" %>
  </div>
</div>
